<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<p>
    <a href="/blogs">Blog list</a>
</p>
<h1>Edit Blog</h1>
<th:block th:if="${mes}">
    <p th:text="${mes}"></p>
</th:block>

<form th:action="@{/edit-blog}" th:object="${blog}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table class="table table-bordered table-striped ">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <td>Contain:</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>

        <tr>
            <td>Province:</td>
            <!--            <td>-->
            <!--                <select th:field="*{category}" name="province">-->
            <!--                    <option th:each="c : ${categories}"-->
            <!--                            th:value="${c.id}"-->
            <!--                            th:text="${c.name}"-->
            <!--                            th:selected="(${blog.category}) and (${c.id} == *{category.id})"></option>-->
            <!--                </select>-->
            <!--            </td>-->
            .
            <td>
                <select th:field="*{category}" >
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>