<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customers </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<p>
    <a href="/create-customer">Create Customer</a>
    <!--    <a href="/create-category" >Create Category</a>-->
</p>
<h1>Customer</h1>
<form>
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<!--private Integer id;-->
<!--private String customerCode;-->

<!--private CustomerType customerType;-->
<!--private String customerName;-->
<!--private String customerBirthDay;-->
<!--private String customerGender;-->
<!--private String customerIdCard;-->
<!--private String customerPhone;-->
<!--private String customerEmail;-->
<!--private String customerAddress;-->

<table class="table table-bordered table-striped ">
    <tr>
        <td>Customer code</td>
        <td>Customer type</td>
        <td>Customer Name</td>
        <td>Birthday</td>
        <td>Gender</td>
        <td>ID Card</td>
        <td>Number Phone</td>
        <td>Email</td>
        <td>Address</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>

    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.customerCode}"></td>
            <th:block th:each="cus:${customerTypes}">
                <td th:if="*{cus.id==customer.id}" th:text="*{cus.customerTypeName}"></td>
            </th:block>

            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.customerBirthDay}"></td>
            <th:block>
                <td th:if="${customer.customerGender=='1'}" th:text="Male"></td>
                <td th:if="${customer.customerGender=='0'}" th:text="Fmale"></td>

            </th:block>
            <td th:text="${customer.customerIdCard}"></td>
            <td th:text="${customer.customerPhone}"></td>
            <td th:text="${customer.customerEmail}"></td>
            <td th:text="${customer.customerAddress}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__}">Edit</a></td>
                                    <td><a th:href="@{/delete-customer/__${customer.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customers'(page=${customers.number - 1}, search=${search})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1}, search=${search})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>