<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Include _menu.html -->
<!--<th:block th:include="/_menu"></th:block>-->



<!-- /login?error=true -->


<!--<form th:action="@{/home}" method='post'>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleDropdownFormEmail1">User Name</label>-->
<!--        <input type="text" class="form-control" id="exampleDropdownFormEmail1" name='username'-->
<!--               placeholder="email@example.com">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleDropdownFormPassword1">Password</label>-->
<!--        <input type="password" class="form-control" id="exampleDropdownFormPassword1" name='password'-->
<!--               placeholder="Password">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <div class="form-check">-->
<!--            <input type="checkbox" class="form-check-input" id="dropdownCheck" name="remember-me">-->
<!--            <label class="form-check-label" for="dropdownCheck">-->
<!--                Remember me-->
<!--            </label>-->
<!--        </div>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Sign in</button>-->
<!--</form>-->

<div class="container">

    <div class="row">

        <div class="span4 offset4 well">
            <legend>Please Sign In</legend>
            <div th:if="${#request.getParameter('error') == 'true'}"
                 style="color:red;margin:10px 0px;">
                Login Failed!!!<br/>
                Reason :
                <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

            </div>
            <form th:action="@{/home}" method='post'>
                <input type="text" id="username" class="span4" name="username" placeholder="Username">
                <input type="password" id="password" class="span4" name="password" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox" name="remember-me" value="1"> Remember Me
                </label>
                <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
            </form>
        </div>
    </div>
</div>
<br>
Username/pass:
<ul>
    <li>dbuser1/123</li>
    <li>dbadmin1/123</li>
</ul>

</body>

</html>