<h1 style="color: green;text-align: center">Customer Information</h1>
<form style="background-color: #eedcb5">
  <div class="form-row ml-5">
    <div class="form-group col-6-md-2">
      <div>
        <label for="code">Customer Code:</label>
        <input id="code" class="form-control" readonly value="{{customerDetail.code}}">
      </div>
      <div>
        <label for="name">Customer Name:</label>
        <input id="name" class="form-control" readonly value="{{customerDetail.name}}">
      </div>
      <div>
        <label for="card-id">Card Id:</label>
        <input id="card-id" class="form-control" readonly value="{{customerDetail.cardId}}">
      </div>
      <div>
        <label for="email">Email: </label>
        <input id="email" class="form-control" readonly value="{{customerDetail.email}}">
      </div>
      <div>
        <button class="btn btn-outline-secondary mt-3" mat-dialog-close >Close</button>
      </div>
    </div>
    <div class="form-group ml-5">
      <div>
        <label for="type">Customer Type:</label>
        <input id="type" class="form-control" readonly value="{{customerDetail.customerType.name}}">
      </div>
      <div>
        <label for="birthday">Date Of Birth:</label>
        <input id="birthday" class="form-control" readonly value="{{customerDetail.dateOfBirth|date:'yyyy/MM/dd'}}">
      </div>
      <div>
        <label for="phone">Phone Number:</label>
        <input id="phone" class="form-control" readonly value="{{customerDetail.phone}}">
      </div>
      <div>
        <label for="address">Address: </label>
        <input id="address" class="form-control" readonly value="{{customerDetail.address}}">
      </div>
    </div>

  </div>

</form>
