<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Employee</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<p>
    <a href="/employees">Employee List</a>
</p>
<h2>Are you sure</h2>

<form th:action="@{/delete-employee}" th:object="${employee}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table class="table table-bordered table-striped ">
        <tr>
            <td>Name</td>
            <td th:text="${employee.employeeName}"></td>
        </tr>
        <tr>
            <td>ID Card</td>
            <td th:text="${employee.employeeIdCard}"></td>
        </tr>
        <td> Email</td>
        <td th:text="${employee.employeeEmail}"></td>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Employee"></td>
        </tr>
    </table>
</form>
</body>
</html>