<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Cart Item</h2>
<a th:href="@{/}">Back to list Items</a>
<table border="1">
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>

    </tr>
    <tbody>
    <tr th:each="item : ${cart.items}">
        <td th:text="${item.getKey().name}"></td>
        <td th:text="${item.getKey().price}"></td>
        <td>
            <a th:href="@{/add/__${item.getKey().id}__(action='add')}">+</a>
            <span th:text="${item.value}"></span>
            <a th:href="@{/add/__${item.getKey().id}__(action='sub')}">-</a>
        </td>
        <td><a th:href="@{/cart/delete/{id}(id = ${item.getKey().id})}">Delete</a></td>
    </tr>
    <tr>
        <td>total : </td>
        <td th:rows="2" th:text="${cart.toTalItem()}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>