<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
</head>
<body>
<p>
    <a th:href="@{/blogs}">Blog List</a>
</p>
<h2>Are you sure</h2>
<th:block th:if="${mess}">
    <p th:text="${mess}"></p>
</th:block>
<form th:action="@{/delete}" th:object="${blog}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>