<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head  th:replace="/layuot :: head" ></head>
<body>
<h3>Product Management</h3>


<p>
    <button style="color: #dddddd">
        <a th:href="@{/product/create}">
            Add new product
        </a>
    </button>
</p>

<div>
    <form th:action="@{/search}">
        <input type="text" name="name" placeholder="Enter " style="width: 250px">
        <input type="submit" value="Search" style="width: 80px">
    </form>
</div>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id="products">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Detail</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="prod : ${products}">
        <td th:text="${prod.getId()}"></td>
        <td th:text="${prod.getName()}"></td>
        <td th:text="${prod.getDetail()}"></td>
        <td th:text="${prod.getCategory()}"></td>
        <td th:text="${prod.getAmount()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${prod.getId()})}">Edit</a></td>
        <!--        <td><a th:href="@{/product/{id}/delete(id=${prod.getId()})}">Delete</a></td>-->
        <td>
            <button class="btn btn" data-toggle="modal" data-target="#myModal"
                    th:data-id="${prod.getId()}" onclick="myFunction(this.getAttribute('data-id'))">
                Delete
            </button>
        </td>

        <td><a th:href="@{/product/{id}/view(id=${prod.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>


<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/product/delete}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Accept delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this product?
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger btn-ok" id="delete" value="Delete">
                    <input type="hidden" id="id" name="id">
                </div>
            </div>
        </form>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
<footer th:replace="/layuot :: footer"></footer>

<script type="text/javascript">
    function myFunction(id) {
        document.getElementById("id").value = id;
    }

</script>
</body>
</html>
