
  <h1 class="title">{{title}}</h1>
  <div>
    <p>The first :
    <input type="number" #first1></p>
    <br>
    <button>
      <select #select1>
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select></button>

    <p>The Second :
    <input type="number" #second1></p>
    <br>

    <p><input type="button" (click)="calculate(first1.value,second1.value,select1.value)" value="Enter"></p>
    <hr>
    <p>Result : {{result}}</p>
  </div>



