<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<p>
    <a href="/blogs">Blog List</a>
</p>
<h2>Are you sure</h2>

<form th:action="@{/delete-blog}" th:object="${blog}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table class="table table-bordered table-striped ">
        <tr>
            <td>Name</td>
           <td th:text="${blog.name}"></td>
        </tr>
        <tr>
            <td>Author</td>
            <td th:text="${blog.author}"></td>
        </tr>
        <td th:text="${blog.content}"></td>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>