<nav class="navbar" style="background-color: #d4ffe8">
  <img class="image1" src="http://www.dongkhoitravel.com.vn/upload/product/furamresort-3272.png"
       style="margin-left: 40px">
  <h3 style="margin-right: 30px;color: green; font-family: 'Agency FB'; font-size: 30px">C1020G1</h3>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fas fa-home"></i>Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-users"></i>Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer.ts"><i class="fas fa-user"></i>Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-servicestack"></i>Service</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-file-contract"></i>Contract
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Contract</a>
          <a class="dropdown-item" href="#">Contract Detail</a>
        </div>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-info"><i class="fas fa-sign-in-alt"></i>Login</button>
  </form>
</nav>
