.nav-link {
  margin-left: 60px;
  font-size: 14px;
  color: white;
}
.image1 {
  width: 180px;
  height: 80px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-brand{
  margin-left: 60px;
  font-size: 25px;
}
.form-inline{
  margin-right: 60px;
}
